/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* NAVBAR */
.navBar {
  display: flex;
  background-color: #ff4254;
  color: #ffd453;
  padding: 5px;
}

.navBar > * {
  flex: 1 100%;
  padding: 8px;
}

.navBar > div:hover {
  text-underline-position: under;
  text-decoration: underline solid #ffd453 4px;
  cursor: pointer;
}

.navBar > .contacts,
.newContact {
  text-align: right;
}

/* TITRES */
.titreContact {
  font-size: 18px;
  padding: 30px 0px 0px 10px;
}

/* TABLEAU */
.tableauContacts {
  padding: 1px;
  border: #eee solid;
  margin: 1px 0 0 10px;
}

.tableauContacts thead > tr {
  background-color: #001e2f;
  color: whitesmoke;
}

.tableauContacts tbody > tr:nth-child(odd) {
  background-color: #eee;
}

/* BOUTONS DE TABLEAU */
.btns {
  display: flex;
  min-width: 200px;
}

.btns > *:hover {
  text-decoration: underline solid whitesmoke 2px;
  cursor: pointer;
}

.btnVoir {
  flex: 1;
  background-color: #007ccb;
  color: whitesmoke;
  text-align: center;
  margin: 4px 0px 4px 4px;
  padding: 4px;
}

.btnSupprimer {
  flex: 1;
  background-color: #ff5c6c;
  color: whitesmoke;
  text-align: center;
  margin: 4px 4px 4px 0px;
  padding: 4px;
}

/* FORMULAIRE NOUVEAU CONTACT */
.formContact {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 10px;
}

.formContact > div {
  display: flex;
  flex-direction: column;
}

.formContact input {
  border-style: solid;
  border-width: 0 0 1px 0;
  max-width: 400px;
  margin-bottom: 15px;
}

.submitContact {
  border-style: none;
  background-color: #4baf4f;
  color: whitesmoke;
  max-width: 100px;
}
